body{
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.416);
}
p{
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.429);
}
ul{
  list-style: none;
}
input{
  margin: 2px;
}